*{
	box-sizing: border-box;/*не учитывать бордеры и паддинги в ширине*/
}

.box{
	background-color: #aeaeae;
	height: 100px;
	width: 20%;
}

.mini-box{
	background-color: #f00;
	height: 50px;
	width: 50%;
}

p.first{
	margin-top: 220px;
}


/* logo */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(ShadowsIntoLight.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
        #logo {
            background: blue;
            border: solid 2px white;
            border-radius: 100px 100px;
            box-shadow: 0 0 10px black;
            height: 200px;
           /* margin: auto;*/
            width: 200px;

            /*по центру*/
            position: fixed/*absolute*/;
            left: 50%;
            margin-left: -100px;
        }

        #logo p {
            color: white;
            font-family: 'Shadows Into Light', cursive;
            line-height: 1px;
            margin-top: 35px;
            text-shadow: 3px 2px 4px black;
        }

        #logo .pan {
            font-size: 75px;
            padding: 20px 0 0 50px;
        }

       #logo .s {
            font-size: 60px;
            padding: 0 0 0 15px;

        }
