@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Medium.eot');
    src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Medium.woff2') format('woff2'),
        url('../fonts/ClearSans-Medium.woff') format('woff'),
        url('../fonts/ClearSans-Medium.ttf') format('truetype'),
        url('../fonts/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}



*{
	font-family: 'Clear Sans', sans-serif;
}

.subheader{
	height: 110px;
	padding-top: 20px;
}
.subheader .subheader_info{
	text-align: center;
}
.subheader .subheader_info span{
	font-size: 16px;
}
.subheader .subheader_info strong{
	font-size: 14px;
}

.subheader_basket{
	height: 100%;
	width: 100%;
	background: #fff url(../img/icons/basket.png) -2px 2px no-repeat;
}
.subheader_basket .count{
	font-size: 20px;
	color: #fff;
	padding-left: 44px;
    text-decoration: none;
}

.cabinet{
	font-size: 14px;
	line-height: 16px;
	text-align: justify;
	text-decoration-line: underline;
	background: url(../img/icons/user.png) no-repeat 0 5px;
	padding-left: 18px;

	
}
.facebook img{
	margin-left: 165px;
	margin-top: 8px;

}

.email{
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	text-decoration-line: underline;
}

.dropdown-menu{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	padding-left: 15px;
	margin-left: -22px;
}

.dropdown-item{
	margin-top: 15px;
}
.phone{
	background: url(../img/icons/tel.png) no-repeat 0 5px, url(../img/icons/Untitled.png) no-repeat 160px 5px;
	padding-right: 22px;
	

}
.btn-group{
    margin-top: 5px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border: 0;

}/*отмена*/

.vf{
	background: url(../img/icons/vf.png) no-repeat 0 0;
}
.ks{
	background: url(../img/icons/ks.png) no-repeat 0 0;
}
.lc{
	background: url(../img/icons/lc.png) no-repeat 0 0;
}
.vf, .ks, .lc, .phone{
	padding-left: 30px;
	font-size: 16px;
	line-height: 19px;
	color: #3A4047;
}



header a{
	color: #3A4047;
}
header a:hover{
	color: #3A4047;
	text-decoration: none;
}

nav{
	height: 57px;
	background-color: #fff;
	box-shadow: inset 0 1px 4px -3px rgba(0, 0, 0, .2);

}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0 0 13px;
	margin: 0;
	list-style-type: none;
	
}
.menu .menu_item{
	padding-top: 13px;
}

.menu .menu_link{
	color: #3A4047;
	font-size: 16px;
	text-transform: uppercase;
	border-right: 1px solid #E8EDF2;
	padding: 0 27px 0;

}

.menu .menu_item:last-child .menu_link{
	border-right: none;
}
.menu .menu_item:last-child:hover {
	border-top: none;
}

.menu .menu_item:hover{
	border-top: 1px solid #1AB0CE;
}
.menu .menu_item:hover .menu_link{
	color: #1AB0CE;
	text-decoration: none;
	
}

.first_block{
	height: 500px;
	background: url(../img/bgimg.jpg) no-repeat center 0;
}

.first_block h1{
	padding-top: 200px;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

.first_subblock{
	height: 500px;
	background: rgba(0, 0, 0, 0.4);
}

.first_block .line{
	width: 120px;
	border-top: 2px solid #FFFFFF;
	margin: 0 auto;
}
.first_block h3{
	color: #FFFFFF;
}

.my-btn{
	text-align: center;
	margin-top: 20px;
}

/**/
section{
	margin-top: 30px;
	margin-bottom: 10px;

}
.section-header{
	font-size: 36px;
	text-align: center;
	color: #3A4047;
	margin-bottom: 25px;
}

h3{
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

h4{
	font-size: 16px;
	text-transform: uppercase;
	color: #3A4047;
	margin-left: 40px;
	margin-bottom: 10px;
}
.prod_block{
	border: 1px solid #DCE1E6;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	min-height: 291px;
	padding: 25px 25px 15px 80px;
	margin-top: 25px;
}
.prod_block li{
	list-style-type: none;
	font-size: 14px;
	line-height: 34px;
}
.prod_block li a{
	color: #3A4047;
}

.prod_block-1st{
	background: url(../img/icons/blank-page.png) no-repeat 35px 25px;
}
.prod_block-2nd{
	background: url(../img/icons/road-map.png) no-repeat 35px 25px;
}
.prod_block-3rd{
	background: url(../img/icons/e-reader.png) no-repeat 35px 25px;
}

/**/
.about p{
	margin-top: 24px;
}


/***/
.news h5{
	font-size: 14px;
	text-align: center;
	color: #BEC7D1;
}
.news p{
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}
.news a{
	color: #3A4047;
}
.news_block{
	padding: 30px 0;
}
.news_block:hover{
	background: #FFFFFF;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px #1AB0CE;
	cursor: pointer;
}
.news_block:hover a{
	text-decoration-line: underline;
	color: #1AB0CE;
}

.news_button{
	margin: 40px 0;
	text-align: center;
}
/**/
.round, .round2 {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	overflow: hidden;
	background: #1AB0CE;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	border: none;
}

.round img, .round2 img{
	margin-bottom: 5px;
}

.round {
	position: relative;
	float: right;
	top: 50px;
	right: -50px;
}

.round2 {
	position: relative;
	float: right;
	top: 300px;
	right: -50px;
}

/**/
footer{
	min-height: 160px;
	background: #f7f7f7;
	padding: 40px 0 0;
}
footer p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}

.fmenu{
	padding-top: 5px;
	list-style-type: none;
	float: left;
	padding-left: 5px;
	
}
.fmenu:first-child{
	margin-right: 25px;
}
.fmenu .fmenu_item{
	margin-left: 0;
	margin-bottom: 14px;
}
.fmenu .fmenu_item a{
	padding-top: 10px;
	font-size: 14px;
	text-decoration: underline;
	color: #3A4047;
}
.f_f{

	margin-right: 20px;
	margin-top: 3px;
	margin-left: 25px;
}

.contacts{
	font-size: 14px;
	text-align: right;
	margin-right: 15px;
}
.contacts a{
	text-decoration-line: underline;
	color: #3A4047;
}
.glyanets{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    background: url(../img/icons/g.png) 50px 0 no-repeat;
    padding-left: 50px;
}
.glyanets a{
	text-transform: uppercase;
	color: #3A4047;
	padding-left: 20px;
}
